.c-alert-danger {
    position: relative;
    color: #893232;
    background-color: #fadddd;
    border: 1px solid #f7cbcb transparent;
    border-radius: 0.25rem;
}

.c-alert-success {
    position: relative;
    color: #1c6e37; 
    background-color: #d5f1de;
    border: 1px solid #c0eace transparent;
    border-radius: 0.25rem;
}

.c-alert-warning {
    position: relative;
    color: rgba(89, 77, 48, 0.97);
    background-color: #feefd0;
    border: 1px solid #fde8b9 transparent;
    border-radius: 0.25rem;
}

.c-alert-info {
    position: relative;
    color: #1f5c99;
    background-color: #d6ebff;
    border: 1px solid #c2e0ff transparent;
    border-radius: 0.25rem;
}

.c-alert-dark {
    position: relative;
    color: #2f3845;
    background-color: #dcdfe3;
    border: 1px solid #caced5 transparent;
    border-radius: 0.25rem;
}

.c-text-danger {
    color: #e55353;
}

.c-text-success {
    color: #2eb85c;
}

.c-text-primary {
    color: #321fdb;
}

.c-text-secondary {
    color: #9da5b1;
}

.c-text-info {
    color: #39f;
}

.c-text-dark {
    color: #4f5d73;
}

.c-text-warning {
    color: #f9b115;
}

.c-table-wrap {
    height: 450px;
    overflow: auto;
  }